# Temporary files #
###################
*~

# Folder view configuration files #
###################################
.DS_Store
.DS_Store?
Desktop.ini

# Thumbnail cache files #
#########################
._*
Thumbs.db
ehthumbs.db

# Files that might appear on external disks #
#############################################
.Spotlight-V100
.Trashes
$RECYCLE.BIN/

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.pyc
*.so

# Archives #
############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases #
######################
*.log
*.sql
*.sqlite

# Dev app folders #
###################
.fleet/
.idea/
.vscode/
.vagrant/

# Laravel #
###########
/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
.phpunit.result.cache

